<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Mí</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">Mi nombre es Alejandro y desde pequeño me interesé en todo lo referido a las
                    computadoras y aplicaciones. Mi curiosidad siempr eme llevó
                    por el camino de la investigación constante y me ayudo a descubrir nuevas habilidades que me
                    ayudaron a crecer cada día más en todo.</p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">Hoy en día
                    me encuentro con muchas habilidades obtenidas durante varios años de capacitación y
                    perfeccionamiento que me permiten hoy en día
                    poder aplicar tanto en el sector de informática como en aplicaciones en los sectores relacionados a
                    practicamente cualquier sector
                    donde se necesite.</p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">Mi objetivo es la mejora constante en todos los sectores que pueda llegar a sentir
                    curiosidad ya que soy una persona que está continuamente
                    buscando la excelencia en todo lo que se proponga. Siempre estaré buscando ser el mejor en lo que me
                    proponga y cumplir todas las expectativas
                    tanto personales como profesionales.</p>
            </div>
        </div>
    </div>
</section>