<section class="page-section portfolio" id="experiencia">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Experiencia</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            <div><button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">Nueva
                    experiencia</button></div>
            <table class="table">
                <tbody>
                    <tr *ngFor="let experiencia of expe">
                        <td>
                            <h2>{{experiencia.nombreE}}</h2>
                        </td>
                        <td>{{experiencia.descripcionE}}</td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editexp/{{experiencia.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button>
                            <button class="btn btn-danger" (click)="delete(experiencia.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>